body {
    background: linear-gradient(to right bottom, #1e222e, #5d7cc9);
    font-family: Roboto Flex, Arial;
    color: rgb(255, 255, 255);
    background-size: cover;
    height: 780px;
    align-self: auto;
}
.cardOutput{
    position: absolute;
    z-index: 1;
    top: 257px;
    left: 446px;
    color: rgb(42, 224, 42);
    font-size: 18px;
}
.paymentForm {
   max-width: 800px;
   display: block;
   margin: 8vh auto 0 auto;
   border-width: 1px;
   color: white;
   position: relative;
}
.h1 {
    display: flex;
    text-align: center;
    padding-top: 10px;
    justify-content: center;
}
.innerForm {
    width: 450px;
    display: block;
    margin: 8vh auto 0 auto;;
    height: 500px;
    margin-top: 0px;
}
.nameP {
    position: absolute;
    left: 215px;
    top: 100px;
}
.ownerNameInput {
    position: absolute;
    top: 150px;
    color: black;
    padding-left: 8px;
    border: none;
    font-size: 18px;
    left: 215px;
    width: 355px;
    height: 35px;
    transition: box-shadow 0.1s, border 0.1s, padding 0.2s;
}
.ownerNameInput:hover {
    box-shadow: 0 0 12px rgb(150, 184, 214);
    border: none;
}
.cardNumberInput {
    position: absolute;
    top: 250px;
    color: black;
    padding-left: 8px;
    font-size: 18px;
    border: none;
    left: 215px;
    width: 250px;
    height: 35px;
    transition: box-shadow 0.1s, border 0.1s, padding 0.2s;
}
.cardNumberInput:hover {
    box-shadow: 0 0 12px rgb(150, 184, 214);
    border: none;
}
.cardNumberP {
    position: absolute;
    left: 215px;
    top: 200px;
}
.cvvP {
    position: absolute;
    top: 200px;
    left: 500px;
}
.cvvInput {
    color: black;
    position: absolute;
    top: 250px;
    left: 501px;
    height: 35px;
    width: 75px;
    font-size: 18px;
    text-align: center;
    border: none;
    transition: box-shadow 0.1s, border 0.1s, padding 0.2s;
}
.cvvInput:hover {
    box-shadow: 0 0 12px rgb(150, 184, 214);
    border: none;
}
.expDateP {
    position: absolute;
    top: 300px;
    left: 215px;
    height: 35px;
}
.dateSelector {
    position: absolute;
    border: none;
    padding-left: 8px;
    top: 350px;
    color: black;
    font-size: 20px;
    left: 215px;
    width: 110px;
    height: 35px;
    transition: box-shadow 0.1s;
}
.dateSelector:hover {
    box-shadow: 0 0 12px rgb(150, 184, 214);
}
.amex {
    width: 50px;
    position: absolute;
    left: 530px;
    top: 350px;
}
.mastercard {
    width: 50px;
    height: 37px;
    position: absolute;
    left: 470px;
    top: 350px;
}
.visa {
    width: 50px;
    height: 37.5px;
    position: absolute;
    left: 409px;
    top: 350px;
}
.confirmButton {
    color: white;
    position: absolute;
    left: 212px;
    top: 430px;
    width: 370px;
    height: 50px;
    background: linear-gradient(to right bottom, #0a0d10, #5d7cc9);
    border-color: rgb(115, 221, 115);
    border-style: solid;
    box-shadow: 0 0 4px rgb(115, 221, 115);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.confirmButton:hover {
    
    background: linear-gradient(to right top, #067e0a, #7be47d);
    color: white;
    box-shadow: 0 0 6px rgb(115, 221, 115);
    font-size: 22px;
    transition: font-size 0.04s;
}
.confirmButton:active {
    background: linear-gradient(to left top, #09be0f, #70f472);
    font-size: 22px;
    box-shadow: 0 0 6px 2px rgb(115, 221, 115);
}
.detector {
    display: flex;
    text-align: center;
    padding-top: 10px;
    justify-content: center;
}


